.app {
  background-color: #171d2d;
  height: 300px;
  width: 300px;
  border-radius: 8px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;

  .spinner-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
      color: white;
      font-family: Arial;
    }

    .active {
      @keyframes spin {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
    }
  }
}
