.button {
  margin-top: 16px;
  button {
    padding: 8px;
    border: 1px solid white;
    border-radius: 8px;
    font-family: Arial;
    color: white;
    margin: 0 auto;
    width: 70px;
    background-color: #171e2d;
    font-size: 16px;
  }
}
