.button {
  margin-top: 16px;
  button {
    padding: 10px;
    border: 1px solid #6396ff;
    border-radius: 999px;
    font-family: Arial;
    color: #6396ff;
    margin: 0 auto;
    width: 180px;
    background-color: #ffffff;
    font-size: 14px;
  }
}
