.spinner-container {
  h3 {
    color: black;
    font-family: "Lato", sans-serif;
    padding-top: 100px;
  }

  .active {
    animation: spin 2s linear infinite;
    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
  .spinner {
    display: flex;
    flex-direction: column;
    align-items: center;

    .spinner-ring {
      border: 10px solid #eaeaea;
      border-top: 10px solid #6396ff;
      border-radius: 50%;
      width: 200px;
      height: 200px;
      display: flex;
      align-items: center;
    }

    .spinner-value {
      color: black;
      margin: 0 auto;
      font-size: 62px;
      display: flex;
      font-family: "Lato", sans-serif;
      margin-top: -140px;

      .percentage-sign {
        font-size: 22px;
        color: #d2d2d2;
        margin-top: 10px;
      }
    }

    .complete {
      border: 10px solid #6396ff;
      border-top: 10px solid #6396ff;
    }
  }
}
